In [7]:
import pandas as  pd
dic={"Name":["Jhon","James","Brad","Emily","Kevin","Ron","Bob"]
    ,
    "Age":[25,45,36,32,55,21,50],
    "Gender":["M","M","M","F","M","M","M"]
    
}

df=pd.DataFrame(dic)
df = df.reset_index(drop=True)
df.head()

    Name  Age Gender
0   Jhon   25      M
1  James   45      M
2   Brad   36      M
3  Emily   32      F
4  Kevin   55      M

In [ ]:
df=df[df["Age"]<40]
df.to_excel("name.xlsx", 
             index=False,
             sheet_name="data")